@import '../mixins';

.cart {
  width: 100%;
  &__top {
    background-color: $white-smoke;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    @include breakpoint(530px) {
      flex-direction: column;
    }
  }
  &__price {
    font-size: 1.8rem;
    font-weight: 500;
    span {
      font-size: 1.6rem;
      font-weight: normal;
    }
  }
  &__icon {
    padding: 8rem 0;
    text-align: center;
    img {
      max-width: 400px;
      width: 100%;
    }
  }
  &__title {
    display: inline-block;
    position: relative;
    margin-right: 40px;
    h2 {
      font-size: 3.6rem;
      color: grey;
    }
    svg {
      position: absolute;
      top: 50%;
      right: -55%;
      transform: translateY(-40%);
    }
  }
  &__productions-list {
    margin: 3rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%;
    @include breakpoint($large-size) {
      grid-template-columns: 1fr;
      grid-column-gap: 5%;
    }
  }
}
