.cart-item {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid $light-grey;
  @include breakpoint(440px) {
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    @include breakpoint(440px) {
      flex-direction: column;
    }
  }

  &__buttons {
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    @include breakpoint(440px) {
      margin-left: 0;
      justify-content: center;
      margin-top: 1rem;
    }
  }

  &__image {
    max-width: 100px;
    width: 100%;
    margin-right: 2rem;
    img {
      width: 100%;
    }
  }
  &__title {
    font-size: 2rem;
  }
  &__count {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    @include breakpoint(530px) {
      flex-direction: column;
    }
    @include breakpoint(440px) {
      flex-direction: row;
    }
    b {
      margin: 0 1rem;
    }
  }
}
