.comments {
  &__top {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: $white-smoke;
    padding: 2rem 3rem;
    border-radius: 4px;
    @include breakpoint(460px) {
      flex-direction: column;
      padding: 1rem 1rem 2rem;
    }
  }
  &__list {
    padding: 2rem 1rem;
  }
  &__title {
    padding: 0 1rem;
    font-size: 2.6rem;
    font-weight: 500;
    @include breakpoint(460px) {
      margin-bottom: 1rem;
    }
  }
  // &__button {
  //   @include breakpoint(460px) {
  //     margin-bottom: 1rem;
  //   }
  // }
  &__no-comments {
    font-weight: 700;
    font-size: 3.2rem;
    color: $light-grey;
    padding: 3rem 0;
    padding-left: 2rem;
  }
}
.comment {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  &:not(:last-child) {
    border-bottom: 1px solid $light-grey;
  }
  &__title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 2rem;
  }
  &__text {
    font-size: 1.6rem;
    line-height: 1.4;
    @include breakpoint($medium-size) {
      font-size: 1.4rem;
      line-height: 1.2;
    }
  }
}
