.form {
  &__group {
    position: relative;
  }
  &__control {
    font-family: inherit;
    font-size: 1.4rem;
    color: $black;
    width: 100%;
    border: 2px solid $grey;
    border-radius: 6px;
    font-size: 1.6rem;
    background-color: $white;
    outline: none;
    padding: 1rem;
    z-index: 20;
    &-error {
      border: 2px solid red;
    }
    &-textarea {
      width: 100%;
      resize: vertical;
      margin-bottom: 2rem;
    }
  }
  &__input {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  &__input-feedback {
    position: absolute;
    font-size: 1.2rem;
    color: $red;
    right: 5px;
    top: -20px;
  }
}
