.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $modal-z-index;
  background-color: rgba($black, 0.8);
  animation: ease 0.7s opacity-modal none;
  padding: 1rem;
  &__top {
    width: 100%;
    background-color: #dcd;
    position: relative;
    height: 60px;
  }
  &__title {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    opacity: 0.6;
    transition: opacity 0.3s, transform 0.3s;
    height: 35px;
    width: 35px;
    &:hover {
      transform: rotate(90deg);
      opacity: 1;
    }
    svg {
      height: 35px;
      width: 35px;
    }
  }

  &__block {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    width: 100%;
    overflow: hidden;
    opacity: 1;
    background-color: $white;
    border-radius: 5px;
    animation: ease 0.7s content-top none;
    &--bottom {
      padding-bottom: 8rem;
    }
  }
  &__content {
    padding: 2rem 2rem 3rem;
  }
}

@keyframes opacity-modal {
  0% {
    background-color: rgba($black, 0);
  }
  100% {
    background-color: rgba($black, 0.8);
  }
}

@keyframes content-top {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  50% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
