.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'top top'
    'image specifications'
    'comments comments';
  grid-row-gap: 5rem;
  grid-column-gap: 4rem;
  @include breakpoint(840px) {
    grid-row-gap: 5rem;
    grid-column-gap: 2rem;
    grid-template-areas:
      'image top'
      'specifications specifications'
      'comments comments';
  }
  @include breakpoint(680px) {
    grid-row-gap: 5rem;
    grid-column-gap: 2rem;
    grid-template-areas:
      'top top'
      'image image'
      'specifications specifications'
      'comments comments';
  }

  &__top {
    grid-area: top;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 2rem 3rem;
    background-color: $white-smoke;
    border-radius: 4px;
    @include breakpoint(840px) {
      flex-direction: column;
      padding: 2rem;
      max-height: 200px;
    }
    @include breakpoint(680px) {
      align-items: center;
      .left {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &__image {
    grid-area: image;
    img {
      width: 100%;
    }
    @include breakpoint(840px) {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
    }
  }
  &__title {
    font-size: 3.2rem;
    color: $black;
    font-weight: 500;
    white-space: nowrap;
  }
  &__specifications {
    grid-area: specifications;
    h3 {
      font-size: 2.6rem;
      margin-bottom: 3rem;
      text-align: center;
    }
  }
  &__comments {
    grid-area: comments;
  }
  &__price {
    display: flex;
    align-items: center;
    @include breakpoint(840px) {
      justify-content: space-between;
      width: 100%;
    }
    @include breakpoint(680px) {
      justify-content: center;
    }
    & > span {
      font-size: 2.6rem;
      font-weight: bold;
      margin-right: 3rem;
    }
  }
  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    margin-bottom: 1rem;
    span {
      background-color: $white;
      display: inline-block;
      z-index: 20;
      &:first-child {
        padding-right: 1rem;
      }
      &:last-child {
        padding-left: 1rem;
      }
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 4px;
      width: 100%;
      border-bottom: 1px dotted grey;
      z-index: 10;
    }
  }
}
