.search {
  max-width: 500px;
  width: 100%;
  position: relative;
  height: 35px;
  &__input {
    width: 100%;
    height: 100%;
    padding: 0 3.2rem 0 1.2rem;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 1.4rem;
  }
  &__icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__window {
    border-radius: 10px;
    position: absolute;
    top: calc(100% + 2rem);
    max-width: 500px;
    width: 100%;
    max-height: 40rem;
    background-color: $white;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    overflow: auto;
  }
  &__item {
    font-size: 1.8rem;
    color: $black;
    padding: 1rem;
    cursor: pointer;
    &:hover {
      background-color: $light-grey;
    }
  }
}
