$black: #2f2f2f;
$background: #ffdf8c;
$gray-line: #e1e1e1;
$orange: #fe5f1e;
$blue: #1e8cbe;
$white: #ffffff;
$light-grey: #f5f5f5;
$white-smoke: #f9f9f9;
$grey: #b2b2b2;
$lightsalmon: #ffa07a;
$header-height: 60px;
$red: #ff4747;

$container-width: 90%;

$header-z-index: 400;
$sidebar-z-index: 400;
$modal-z-index: 500;

$duration: 0.15s;

$large-size: 991px;
$medium-size: 768px;
$small-size: 576px;
